body{
 font-family: Arial;
 background:#0f172a;
 color:white;
 text-align:center;
}

.container{
 margin-top:100px;
 background:#1e293b;
 padding:40px;
 width:350px;
 margin-left:auto;
 margin-right:auto;
 border-radius:10px;
 box-shadow:0 0 10px cyan;
}

input{
 width:90%;
 padding:10px;
 margin:10px;
 border-radius:5px;
 border:none;
}

button{
 padding:10px 20px;
 background:cyan;
 border:none;
 border-radius:5px;
 cursor:pointer;
 margin:10px;
 font-weight:bold;
}
